
@media screen and (max-width:1400px) {

}
@media screen and (max-width:1200px) {
  
}
@media screen and (max-width:992px) {
   
}
@media screen and (max-width:768px) {
    #home{
        h1{
                font-size: 48px;
        }}
}
@media screen and (max-width:576px) {
   
}

